// Variable

$color_blue:#00A3FF;
$color_white:#FFFFFF;
$backg_blue: #00A3FF;
$backg_color:#282828;
$backg_white: #FFFFFF;

$title_font_size: 72px;
$title_font_weight: 700;
$title_font_line: 87,77px;
$font_size_text: 24px;

$title_font_size_1400: 56px;
$font_size_text_1400: 22px;

$title_font_size_1080: 36px;
$font_size_text_1080: 18px;

$title_font_size_960: 32px;
$font_size_text_960: 16px;

$title_font_size_800: 28px;
$font_size_text_800: 14px;

$title_font_size_650: 26px;
$font_size_text_650: 12px;

$title_font_size_480: 22px;
$font_size_text_480: 10px;