@charset "UTF-8";
/*ctr+H*/
/* элемент nav и header должны быть поверх блока в котором находится before*/
/*показывает границы блоков *{
    outline: 2px solid red;
} */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body, section {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 24px;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: #282828;
}

.opportunity, .begin__tittle, .contacts__title {
  font-size: 72px;
  line-height: 87, 77px;
  font-weight: 700;
  margin-top: 160px;
  text-align: center;
}

.large-text {
  font-size: 36px;
  font-weight: 700;
}

.header {
  width: 100%;
  top: 75px;
  left: 0;
  position: absolute;
  z-index: 1000;
}

.header .nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
}

.header .nav .nav__link {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.header .nav .nav__link:hover {
  color: #00A3FF;
}

.header .nav:first-child {
  padding-left: 250px;
}

.header .nav:last-child {
  padding-right: 250px;
}

.intro {
  overflow: hidden;
  max-height: 730px;
  height: 100%;
  position: relative;
}

.intro__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /*растягивается по ширине*/
}

.intro:before {
  top: 0;
  left: 0;
  display: block;
  z-index: 500;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
}

.intro__inner {
  z-index: 900;
  position: relative;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16%;
  margin-right: 38%;
}

.intro__inner .inner__title {
  font-size: 72px;
  line-height: 87, 77px;
  color: #00A3FF;
  font-weight: 800;
  padding-bottom: 10px;
}

.intro__inner .inner__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.intro .intro__nav {
  z-index: 1000;
  position: absolute;
  bottom: 26px;
  right: 48.5%;
}

.intro .intro__nav .intro__circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  -webkit-box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.intro .intro__nav .intro__circle:hover {
  background: #00A3FF;
}

.opportunity {
  margin-bottom: 90px;
}

.opportunity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  padding-right: 80px;
  padding-left: 80px;
}

.opportunity__inner .opportunity__function {
  width: 50%;
  text-align: center;
}

.opportunity__inner .opportunity__function .function {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opportunity__inner .opportunity__function .function .function__circle {
  width: 30px;
  height: 30px;
  background: #00A3FF;
  border-radius: 50%;
}

.opportunity__inner .opportunity__function .function .function__text {
  padding-left: 80px;
  font-weight: 600;
}

.opportunity__inner .opportunity__comment {
  position: relative;
  width: 50%;
  font-weight: 500;
  background: -webkit-gradient(linear, right top, left top, from(#00A3FF), color-stop(94.02%, rgba(0, 163, 255, 0)));
  background: linear-gradient(270deg, #00A3FF 0%, rgba(0, 163, 255, 0) 94.02%);
}

.opportunity__inner .opportunity__comment .comment {
  position: absolute;
  top: 25%;
  width: 340px;
}

.begin__inner {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.begin__inner .begin__block {
  text-align: center;
  width: 315px;
  height: 315px;
  background: #00A3FF;
  border-radius: 23px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.begin__inner .begin__block:hover {
  opacity: 0.9;
}

.begin__inner .begin__block:first-child {
  margin-left: 7%;
}

.begin__inner .begin__block:last-child {
  margin-right: 7%;
}

.contacts__title {
  margin-bottom: 90px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .contacts__logo {
  margin-left: 13%;
}

.contacts .contacts__logo .logo__text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.contacts .contacts__text {
  width: 350px;
  margin-right: 20%;
}

.contacts .contacts__text .contacts__network {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  z-index: 1001;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 350px;
  height: 100px;
  border: 7px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 90px;
  cursor: pointer;
  -webkit-transition: border 0.5s, background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, background-color 0.5s, box-shadow 0.5s;
  transition: border 0.5s, background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.btn--hover:hover {
  background-color: #00A3FF;
  -webkit-box-shadow: 3px 3px #00A3FF, 3px -3px #00A3FF, -3px 3px #00A3FF, -3px -3px #00A3FF, 5px 5px 40px #00A3FF;
          box-shadow: 3px 3px #00A3FF, 3px -3px #00A3FF, -3px 3px #00A3FF, -3px -3px #00A3FF, 5px 5px 40px #00A3FF;
  border: 7px solid transparent;
  /*Прозрачность*/
}

.btn__text {
  margin: auto;
}
