// Variable

$color_blue:#00A3FF;
$color_white:#FFFFFF;
$backg_blue: #00A3FF;
$backg_color:#282828;
$backg_white: #FFFFFF;

$title_font_size: 72px;
$title_font_weight: 700;
$title_font_line: 87,77px;
$font_size_text: 24px;